:host {
  .location-container {
    height: calc(100% - 36px);
    margin-top: 16px;
    gap: 16px;
  }

  app-icon {
    min-width: 20px;
    color: var(--primary-color);
  }

  ::ng-deep .p-autocomplete-item:not(.p-highlight) .checked {
    display: none;
  }

  .current-location-suggestion,
  .location-suggestion {
    height: 24px;
    max-width: 100vw;
    text-wrap: wrap;
    align-items: center;
    gap: 8px;
  }
}
