:host {
  .location-container {
    height: calc(100% - 36px);
    margin-top: 16px;
    gap: 16px;
  }

  .current-location-suggestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    app-icon {
      color: var(--primary-color);
    }
  }

  .current-location-suggestion,
  .location-suggestion {
    max-width: 100vw;
    text-wrap: wrap;
  }
}
