:host {
  .location-container {
    height: calc(100% - 36px);
    margin-top: 16px;
    gap: 16px;
  }

  .current-location-suggestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .location-suggestion {
    span {
      font-size: 0.9rem;
      opacity: --text-color-secondary;
    }
  }
}
