{
  "extends": ["stylelint-config-standard-scss"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "selector-pseudo-element-no-unknown": [
      true,
      { "ignorePseudoElements": ["ng-deep"] }
    ],
    "selector-type-no-unknown": [true, { "ignoreTypes": ["/^app?-.+/"] }],
    "color-function-notation": "legacy",
    "declaration-block-no-redundant-longhand-properties": null,
    "no-descending-specificity": null,
    "declaration-no-important": null,
    "selector-max-compound-selectors": 8,
    "shorthand-property-no-redundant-values": null
  }
}
