<main class="flex-column">
  <h1>{{ 'ABOUT.INTRO_TITLE' | translate }}</h1>
  <p class="body-sm">
    {{ 'ABOUT.INTRO_DESCRIPTION' | translate }}
  </p>

  <h2>{{ 'ABOUT.MAP_TITLE' | translate }}</h2>
  <p class="body-sm">
    {{ 'ABOUT.MAP_DESCRIPTION' | translate }}
  </p>

  <h2>{{ 'ABOUT.NOTICE_TITLE' | translate }}</h2>
  <p class="body-sm">
    {{ 'ABOUT.NOTICE_DESCRIPTION' | translate }}
  </p>

  <h2>{{ 'ABOUT.FEEDBACK_TITLE' | translate }}</h2>
  <p class="body-sm">
    {{ 'ABOUT.FEEDBACK_DESCRIPTION' | translate }}
  </p>

  <p class="body-xs">
    {{ 'ABOUT.FOOTER' | translate }}
  </p>

  <p class="body-xs">
    {{ 'ABOUT.EU_HORIZON' | translate }}
  </p>
</main>
