.map-container {
  height: 100%;
  width: 100%;
  position: relative;
}

#map-host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

::ng-deep .leaflet-div-icon {
  background: unset !important;
  border: unset !important;

  svg {
    position: absolute;
    left: -19px;
    top: -38px;
  }
}
