.p-divider {
  .p-divider-content {
    background-color: $panelContentBg;
  }

  &.p-divider-horizontal {
    margin: 0;
    padding: 0;

    &:before {
      border-top: $dividerSize var(--surface-200);
    }

    .p-divider-content {
      padding: 0 $inlineSpacing;
    }
  }

  &.p-divider-vertical {
    margin: $dividerVerticalMargin;
    padding: $dividerVerticalPadding;

    &:before {
      border-left: $dividerSize $dividerColor;
    }

    .p-divider-content {
      padding: $inlineSpacing 0;
    }
  }
}
