<main class="flex-column">
  <h1>Lorem ipsum</h1>

  <p class="body-sm">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis, ipsum at tincidunt accumsan, tortor sem
    feugiat lacus, sit amet vehicula odio libero a sapien. Donec ac pretium dolor, id faucibus tellus. Sed sed consectetur
    enim, nec hendrerit urna. Aliquam mollis egestas urna aliquet tincidunt. Sed blandit felis ex, et ullamcorper ligula
    vulputate at. Aenean mauris ante, tincidunt vitae fringilla a, feugiat eget nulla. Nam eu luctus justo, vel rhoncus
    lorem. Mauris pretium, eros sed tristique imperdiet, nulla dui suscipit nibh, nec ornare odio leo at ligula. Proin
    iaculis placerat orci, laoreet tempor lacus commodo at. Mauris fermentum ullamcorper mauris laoreet mollis. Maecenas
    rhoncus viverra arcu a ultrices.
  </p>
  <p class="body-sm">
    Fusce lobortis finibus lectus eget lacinia. Nunc consectetur id elit ut semper. Mauris porttitor in lectus sit amet
    cursus. Donec sed tempus purus. Vivamus eget posuere dolor. Praesent pulvinar gravida purus et placerat. Nunc erat dui,
    congue vel velit nec, tristique porta velit. Duis eget iaculis tortor.
  </p>
  <p class="body-sm">
    Mauris hendrerit velit nec mi venenatis consequat. Donec ullamcorper, mi sed tempus maximus, nulla velit pretium urna, a
    porttitor velit ligula eget quam. Mauris tellus lorem, pharetra sit amet facilisis euismod, semper a erat. Praesent eu
    neque congue, sagittis dui sed, sodales arcu. Integer quis quam commodo, posuere nisi at, suscipit est. Proin fermentum
    ex sed justo venenatis, sed rhoncus mi finibus. In finibus felis vitae mauris gravida, sed consequat orci auctor. Vivamus
    interdum finibus massa a vestibulum. Curabitur pretium justo erat, sit amet sagittis elit aliquet vel. Sed elementum mi
    est, at molestie erat mattis vitae. Praesent convallis, felis mollis molestie tempus, turpis augue luctus tortor, eu
    elementum dui ipsum sed neque. Fusce in sodales justo. Sed rhoncus mi turpis, euismod condimentum diam aliquet vel.
    Phasellus feugiat nibh turpis, sed aliquet ex vehicula in. Maecenas ac nunc pharetra, ornare enim sed, pellentesque elit.
    Integer nec pharetra ipsum.
  </p>
</main>
