.p-drawer {
  background-color: var(--primary-color) !important;
  border: 0 !important;

  .p-drawer-header {
    padding: 0;
  }

  .p-drawer-content {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0;
  }

  .p-drawer-footer {
    display: flex;
    justify-content: center;
    padding: 0 0 75px 0;
  }
}
