:host {
  width: 100%;
  background-color: white;

  .filter-container,
  .options-container {
    max-width: 100%;
    padding: 16px 32px;
  }

  .filter-container {
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    & > div {
      gap: 4px;
    }
  }

  .options-container {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 33%);

    & > div {
      border-radius: 8px;
      height: 84px;
      align-items: center;
      justify-content: center;

      &.active {
        background-color: var(--primary-color);
        color: white;
      }
    }
  }

  app-icon {
    cursor: pointer;
  }
}
