:host {
  width: 100%;
  background-color: white;

  .header-container,
  .options-container {
    max-width: 100%;
    padding: 16px 32px;
  }

  .header-container {
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    .close {
      min-width: 18px;
    }
  }

  .options-container {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    & > article {
      border-radius: 8px;
      height: 84px;
      align-items: center;
      justify-content: center;
      gap: 4px;

      p {
        text-align: center;
      }

      &.active {
        background-color: var(--primary-color);
        color: white;
      }
    }
  }

  app-icon {
    max-width: 24px;
    max-height: 24px;
    cursor: pointer;
  }
}
