<main class="feedback-form" [formGroup]="feedbackForm">
  @switch (currentChildComponent$ | async) {
    @case (FEEDBACK_FORM_COMPONENT.CATEGORY) {
      <h2 class="title">{{ "FEEDBACK.HEADER.CATEGORY_TITLE" | translate }}</h2>

      @if (parentCategory(); as parentCategory) {
        <p class="description">
          {{ parentCategory }}
        </p>
      }

      @for (categoryStep of categorySteps; track $index) {
        @if ((currentStep$ | async) === categoryStep.index) {
          <app-input-feedback-category
            class="content"
            [categories]="categories()"
            [formControlName]="categoryStep.formControlName"
          ></app-input-feedback-category>
        }
      }
    }
    @case (FEEDBACK_FORM_COMPONENT.MESSAGE_AND_ATTACHMENTS) {
      <h2 class="title">
        {{ "FEEDBACK.HEADER.MESSAGES_AND_ATTACHMENTS_TITLE" | translate }}
      </h2>
      <app-feedback-message-and-attachments
        class="content"
        [reasonForm]="feedbackForm.controls.message"
      ></app-feedback-message-and-attachments>
    }
    @case (FEEDBACK_FORM_COMPONENT.LOCATION) {
      <h2 class="title">{{ "FEEDBACK.HEADER.LOCATION_TITLE" | translate }}</h2>
      <app-feedback-location
        [locationFormControl]="feedbackForm.controls.location"
      ></app-feedback-location>
    }
    @case (FEEDBACK_FORM_COMPONENT.CONTACT) {
      <h2 class="title">{{ "FEEDBACK.HEADER.CONTACT_TITLE" | translate }}</h2>
      <app-feedback-contact
        [contactForm]="feedbackForm.controls.contact"
      ></app-feedback-contact>
    }
  }
</main>
<footer class="footer flex-column">
  <app-steps
    [amount]="amountOfSteps"
    [active]="(currentStep$ | async) ?? 0"
  ></app-steps>
  <div class="flex-row">
    @if (((currentStep$ | async) ?? 0) > 0) {
      <p-button
        class="back-button"
        [label]="'FEEDBACK.FOOTER.BACK' | translate"
        [outlined]="true"
        (click)="onClickBack()"
      ></p-button>
    }
    @if (
      (currentChildComponent$ | async) !== FEEDBACK_FORM_COMPONENT.CATEGORY
    ) {
      <p-button
        class="next-button"
        [label]="nextButtonLabel | translate"
        [disabled]="!(isNextEnabled$ | async)"
        [loading]="(isNextInProgress$ | async) ?? false"
        (click)="onClickNext()"
      ></p-button>
    }
  </div>
</footer>
<div class="background-container">
  <app-icon class="background" icon="logo"></app-icon>
</div>
