<article class="content" [formGroup]="reasonForm">
  <section class="message-container">
    <label class="p-label" for="message">{{
      "FEEDBACK.MESSAGES_AND_ATTACHMENTS.FEEDBACK_MESSAGE" | translate
    }}</label>
    <textarea
      class="textarea full-width"
      id="message"
      formControlName="message"
      aria-describedby="message-help"
      pTextarea
    ></textarea
    ><small id="message-help">{{
      "FEEDBACK.MESSAGES_AND_ATTACHMENTS.PUBLISH.TITLE" | translate
    }}</small>
  </section>
  <section class="attachments-container flex-column">
    <p class="p-label">
      {{ "FEEDBACK.MESSAGES_AND_ATTACHMENTS.ATTACHMENTS.TITLE" | translate }}
      <span class="p-optional">{{ "MISC.OPTIONAL" | translate }}</span>
    </p>
    <div class="attachments flex-column">
      <app-icon class="icon" icon="add-image"></app-icon>
      <p class="description">
        {{ "FEEDBACK.MESSAGES_AND_ATTACHMENTS.ATTACHMENTS.HINT" | translate }}
      </p>
      <p-button
        class="button"
        [outlined]="true"
        [label]="
          'FEEDBACK.MESSAGES_AND_ATTACHMENTS.ATTACHMENTS.BUTTON' | translate
        "
        (click)="fileInput.click()"
      >
        <input
          #fileInput
          type="file"
          accept="image/png, image/jpeg"
          (click)="resetFileInput($event)"
          (change)="onFileInput($event)"
          style="display: none"
        />
      </p-button>
    </div>
    <div class="files-container">
      @if (files.length > 0) {
        <h4>
          {{ files.length }}
          {{ "FEEDBACK.MESSAGES_AND_ATTACHMENTS.FILES" | translate }}
        </h4>
      }
      @for (file of files; track index; let index = $index) {
        <app-feedback-attachment-file
          [name]="file.name"
          [size]="file.size"
          [loading]="file.loading"
          (remove)="onFileRemove(index)"
        ></app-feedback-attachment-file>
      }
    </div>
  </section>
</article>

<p-toast position="bottom-center" [key]="TOAST_KEY" styleClass="toast">
  <ng-template let-message pTemplate="headless">
    <section class="toast-content flex-row">
      <div class="icon-container">
        <app-icon icon="close"></app-icon>
      </div>
      <p class="body-xs">{{ message.detail }}</p>
    </section>
  </ng-template>
</p-toast>
