<article class="flex-column form" [formGroup]="contactForm">
  <div class="flex-column">
    <label class="p-label" for="email">Email <span class="p-optional">Optional</span></label>
    <input pInputText id="email" type="email" formControlName="email" />
  </div>
  <div class="p-checkbox-container" *ngIf="contactForm.value.email">
    <p-checkbox formControlName="receiveResponseByMail" inputId="receiveResponseByMail" [binary]="true"></p-checkbox>
    <label class="p-checkbox-label" for="receiveResponseByMail">I want a response to the feedback via email.</label>
  </div>
  <div class="flex-column">
    <label class="p-label" for="firstName">First name <span class="p-optional">Optional</span></label>
    <input pInputText id="firstName" type="firstName" formControlName="firstName" />
  </div>
  <div class="flex-column">
    <label class="p-label" for="lastName"> Last name <span class="p-optional">Optional</span></label>
    <input pInputText id="lastName" type="lastName" formControlName="lastName" />
  </div>
  <div class="flex-column">
    <label class="p-label" for="phone">Phone <span class="p-optional">Optional</span></label>
    <input pInputText id="phone" type="phone" formControlName="phone" />
  </div>
  <div class="p-checkbox-container">
    <p-checkbox
      formControlName="termsOfUseAccepted"
      inputId="termsOfUseAccepted"
      [binary]="true"
      [required]="true"
    ></p-checkbox>
    <label class="p-checkbox-label" for="termsOfUseAccepted"
      >I accept the Service's <a [href]="termsOfUseUrl" target="_blank">Terms of Use</a> and
      <a [href]="privacyPolicyUrl" target="_blank">Privacy Statement</a></label
    >
  </div>
</article>
