<div class="container flex-column">
  <div class="location-information-container shadow-sm flex-row">
    <div class="full-width flex-column">
      <ng-container *ngIf="address$ | async as address; else addressLoader">
        <h1 class="display-xs">{{ address }}</h1>
      </ng-container>
      <ng-template #addressLoader>
        <p-skeleton class="address-loader"></p-skeleton>
      </ng-template>
      <p class="body-xs">{{ dataPoint.location }}</p>
    </div>
    <app-icon icon="close" (click)="close.emit()"></app-icon>
  </div>

  @switch (dataPoint.type) {
    @case (DATA_POINT_TYPE.WEATHER) {
      @switch (dataPoint.dataSourceId) {
        @case ('TECONER') {
          <ul class="weather-data-container">
            @for (metric of dataPoint.data | keyvalue; track metric.key) {
              <li>
                <label class="button-sm">{{ getWeatherMetricLabel(metric.key) }}</label>
                <p class="body-sm">{{ getWeatherMetricValue(metric.value) }}{{ getWeatherMetricUnit(metric.key) }}</p>
              </li>
            }
          </ul>
        }
        @case ('MARJETAS_SENSOR') {
          <ul class="weather-data-container">
            @for (metric of dataPoint.data | keyvalue; track metric.key) {
              <li>
                <label class="button-sm">{{ getWeatherMetricLabel(metric.key) }}</label>
                <p class="body-sm">{{ getWeatherMetricValue(metric.value) }}{{ getWeatherMetricUnit(metric.key) }}</p>
              </li>
            }
          </ul>
        }
      }
    }
  }
</div>
