<app-map
  class="full-height"
  [center$]="mapCenter$"
  [markers]="(dataPointMarkers$ | async) ?? []"
  (markerClick)="onMarkerClick($event)"
></app-map>
<app-search-location-input class="search" [formControl]="locationFormControl"></app-search-location-input>

<app-dashboard-data-point-detail
  *ngIf="selectedDataPoint$ | async as selectedDataPoint"
  class="bottom-modal"
  [dataPoint]="selectedDataPoint"
  (close)="onDataPointClose()"
></app-dashboard-data-point-detail>
<app-dashboard-filter
  class="bottom-modal"
  *ngIf="showDataPointTypeFilter()"
  [filter]="dataPointTypeFilter()"
  (close)="onFilterClose()"
  (toggle)="onFilterToggle($event)"
></app-dashboard-filter>

<div class="actions flex-column">
  <div class="badge-button">
    <small class="badge" *ngIf="dataPointTypeFilter().length > 0">{{ dataPointTypeFilter().length }}</small>
    <app-icon class="filter-button" icon="layers" (click)="onFilterOpen()"></app-icon>
  </div>
  <app-icon
    class="focus-location-button"
    [class.loading]="locationLoading$ | async"
    [class.has-permission]="(locationPermissionState$ | async) === 'granted'"
    [icon]="(locationLoading$ | async) ? 'spinner' : 'target'"
    (click)="focusLocation()"
  ></app-icon>
</div>
<p-toast position="bottom-center" [key]="TOAST_KEY" styleClass="toast">
  <ng-template let-message pTemplate="headless">
    <section class="toast-content flex-row">
      <p class="body-xs">{{ message.detail }}</p>
      <app-icon icon="spinner"></app-icon>
    </section>
  </ng-template>
</p-toast>
