<app-map [center$]="mapCenter$" [markers]="weatherDataPointMarkers" (markerClick)="onMarkerClick($event)"></app-map>
<app-dashboard-data-point-detail
  *ngIf="selectedDataPoint$ | async as selectedDataPoint"
  [dataPoint]="selectedDataPoint"
  class="data-point-detail"
  (close)="onDataPointClose()"
></app-dashboard-data-point-detail>
<div class="actions">
  <app-icon
    class="focus-location"
    [class.loading]="locationLoading$ | async"
    [class.has-permission]="(locationPermissionState$ | async) === 'granted'"
    [icon]="(locationLoading$ | async) ? 'spinner' : 'target'"
    (click)="focusLocation()"
  ></app-icon>
</div>
<p-toast position="bottom-center" [key]="TOAST_KEY" styleClass="toast">
  <ng-template let-message pTemplate="headless">
    <section class="toast-content flex-row">
      <p class="body-xs">{{ message.detail }}</p>
      <app-icon icon="spinner"></app-icon>
    </section>
  </ng-template>
</p-toast>
