<app-map [center$]="mapCenter$" [markers]="weatherDataPointMarkers" (markerClick)="onMarkerClick($event)"></app-map>
<app-search-location-input
  class="search"
  [formControl]="locationFormControl"
  [withCurrentLocation]="false"
></app-search-location-input>
<app-dashboard-data-point-detail
  *ngIf="selectedDataPoint$ | async as selectedDataPoint"
  class="data-point-detail"
  [dataPoint]="selectedDataPoint"
  (close)="onDataPointClose()"
></app-dashboard-data-point-detail>
<div class="actions">
  <app-icon
    class="focus-location"
    [class.loading]="locationLoading$ | async"
    [class.has-permission]="(locationPermissionState$ | async) === 'granted'"
    [icon]="(locationLoading$ | async) ? 'spinner' : 'target'"
    (click)="focusLocation()"
  ></app-icon>
</div>
