$z-index: 999;

:host {
  width: 100%;
  height: 100%;
  position: relative;

  .data-point-detail {
    z-index: $z-index - 1;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .actions {
    z-index: $z-index - 2;
    position: absolute;
    bottom: 60px;
    right: 32px;

    .focus-location {
      width: 42px;
      height: 42px;
      padding: 9px;
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      background-color: white;
      border-radius: 50%;

      &.has-permission {
        color: white;
        border: none;
        background-color: var(--primary-color);
      }

      &.loading {
        padding: 11px;
      }
    }
  }

  .toast-content {
    p:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4, end) 900ms infinite;
      animation: ellipsis steps(4, end) 900ms infinite;
      content: '\2026';
      width: 0px;
    }
  }
}

@keyframes location-loading {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 40%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
