:host {
  width: 100%;
  height: 100%;
  position: relative;

  .data-point-detail {
    z-index: 999;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .actions {
    z-index: 999;
    position: absolute;
    bottom: 60px;
    right: 32px;

    .focus-location {
      width: 42px;
      height: 42px;
      padding: 9px;
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      background-color: white;
      border-radius: 50%;

      &.has-permission {
        color: white;
        border: none;
        background-color: var(--primary-color);
      }

      &.loading {
        padding: 11px;
      }
    }
  }
}

@keyframes location-loading {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 40%;
  }
  100% {
    opacity: 100%;
  }
}
