:host {
  .close-container {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    position: relative;
    align-items: center;
    justify-content: end;
    background-color: var(--primary-color);

    .close-icon {
      position: relative;
      z-index: 2;
      min-width: 44px;
      min-height: 44px;
      padding: 12px;
      color: var(--text-color);
    }
  }

  .content {
    height: 100%;
    padding-top: 48px;

    &-title {
      color: var(--text-color);
      font-size: 40px;
      font-weight: 400;
    }
  }

  .menu-items-container {
    position: relative;
    z-index: 2;
    margin-top: 64px;

    .menu-items {
      width: fit-content;
      justify-content: center;
      gap: 64px;

      .menu-item {
        width: fit-content;
        gap: 8px;
        align-items: center;
        text-decoration: none;

        .icon,
        p {
          color: var(--text-color);
        }

        p {
          font-family: var(--font-family);
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
        }
      }

      app-icon {
        max-width: 24px;
        max-height: 24px;
        cursor: pointer;
      }
    }
  }

  .background-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .background {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 130%;
      opacity: 0.1;
      color: var(--text-color);
    }
  }

  .logo {
    color: var(--text-color);
  }
}
