:host {
  .steps {
    gap: 3px;

    .step {
      width: 100%;
      height: 4px;
      background-color: #eaecf0;
      border-radius: 2px;

      &.active {
        background-color: var(--primary-color);
      }
    }
  }
}
