:host {
  app-icon {
    min-width: 20px;
    color: var(--primary-color);
  }

  .current-location-suggestion,
  .location-suggestion {
    height: 24px;
    max-width: 100vw;
    text-wrap: wrap;
    align-items: center;
    gap: 8px;
  }

  ::ng-deep {
    .p-autocomplete-item:not(.p-highlight) .checked {
      display: none;
    }

    .p-autocomplete-item:has(.current-location-suggestion) {
      pointer-events: none;
    }

    .p-autocomplete-item:has(.clickable) {
      pointer-events: unset;
    }
  }
}
