<p-autoComplete
  #autocomplete
  optionLabel="address"
  optionDisabled="disabled"
  [style]="{ width: '100%' }"
  [inputStyle]="{ width: '100%' }"
  [suggestions]="(locationSuggestions$ | async) ?? []"
  (completeMethod)="onSearchLocation($event)"
  (onSelect)="onSelectLocation($event)"
  (onFocus)="onAutocompleteFocus(); autocomplete.show()"
>
  <ng-template let-location pTemplate="item">
    <div
      *ngIf="location.isCurrentLocation; else default"
      class="current-location-suggestion flex-row"
      [class.clickable]="loadedLocation$ | async"
    >
      <app-icon icon="target"></app-icon>
      <p class="full-width">{{ location.address }}</p>
      <app-icon class="checked" icon="check"></app-icon>
    </div>

    <ng-template #default>
      <div class="location-suggestion flex-row">
        <p class="full-width">{{ location.address }}</p>
        <app-icon class="checked" icon="check"></app-icon>
      </div>
    </ng-template>
  </ng-template>
</p-autoComplete>
