:host {
  display: flex;
  flex-direction: column;
  z-index: 2;
  height: 100%;
  min-height: 0;

  .feedback-form {
    position: relative;
    height: 100%;
    min-height: 0;
    padding: 48px 32px 16px 32px;
    overflow: auto;

    .title,
    .description {
      font-family: var(--font-family);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }

    .title {
      color: #000;
    }

    .description {
      margin-top: 16px;
      padding: 8px 0;
      color: var(--primary-color);
    }

    .content {
      display: block;
      margin-top: 16px;
    }
  }

  .footer {
    position: relative;
    z-index: 5;
    padding: 16px 32px;
    gap: 32px;
    background-color: #fff;
    box-shadow:
      0px -2px 4px -2px rgba(16, 24, 40, 0.06),
      0px -4px 8px -2px rgba(16, 24, 40, 0.1);

    .next-button {
      margin-left: auto;
    }
  }

  .background-container {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .background {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 130%;
      opacity: 0.05;
      color: var(--primary-color);
    }
  }
}
