:host {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  height: 100%;
  min-height: 0;

  .feedback-form {
    height: 100%;
    min-height: 0;
    padding: 48px 32px 16px 32px;
    overflow: auto;

    .title {
      color: #000;
      font-family: var(--font-family);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }

    .categories {
      display: block;
      margin-top: 16px;
    }
  }

  .footer {
    padding: 16px 32px;
    gap: 32px;
    background-color: #fff;
    box-shadow: 0px -2px 4px -2px rgba(16, 24, 40, 0.06),
      0px -4px 8px -2px rgba(16, 24, 40, 0.1);

    .actions {
      justify-content: space-between;
    }
  }
}
