:host {
  display: block;
  padding-top: 32px;

  .feedback-form {
    padding: 16px 32px;

    .title {
      color: #000;
      font-family: var(--font-family);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }

    .categories {
      display: block;
      margin-top: 16px;
    }
  }
}
