<main class="feedback-form" [formGroup]="feedbackForm">
  @switch (currentFeedbackFormStep) { @default {
  <h2 class="title">What would you like to report?</h2>

  @if (currentFeedbackFormStep === feedbackFormStep.CATEGORY) {
  <app-input-feedback-category
    class="categories"
    [categories]="categories"
    formControlName="category"
  >
  </app-input-feedback-category>
  } @else {
  <p class="description">{{ feedbackForm.value.category }}</p>
  <app-input-feedback-category
    class="categories"
    [withColor]="false"
    [categories]="subCategories"
    formControlName="subCategory"
  >
  </app-input-feedback-category
  >} } @case (feedbackFormStep.TYPE) {
  <h2 class="title">What's the reason of your feedback?</h2>
  <app-input-feedback-category
    class="categories"
    [withColor]="false"
    [categories]="reasons"
    formControlName="type"
  >
  </app-input-feedback-category>
  } @case (feedbackFormStep.REASON) {
  <h2 class="title">What's your feedback?</h2>
  <app-feedback-reason-content
    [reasonForm]="feedbackForm.controls.reason"
  ></app-feedback-reason-content>
  } @case (feedbackFormStep.LOCATION) {
  <h2 class="title">What's the feedback location?</h2>
  <app-feedback-location
    [locationFormControl]="feedbackForm.controls.location"
  ></app-feedback-location>
  } @case (feedbackFormStep.CONTACT) {
  <h2 class="title">How can we contact you?</h2>
  } @case (feedbackFormStep.CONFIRMATION) {
  <h2 class="title">Thanks for your feedback!</h2>
  } }
</main>
<footer class="footer flex-column">
  <app-steps [amount]="6" [active]="activeStep"></app-steps>
  <div class="flex-row">
    @if(currentFeedbackFormStep > 0) {
    <p-button label="Back" [outlined]="true" (onClick)="back()"></p-button>
    }
    <p-button
      class="next-button"
      label="Next"
      [disabled]="!canClickNextButton()"
      (onClick)="next()"
    ></p-button>
  </div>
</footer>
