.display-2xl {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.display-xl {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.display-lg {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.display-md {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.display-sm {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.display-xs {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.body-lg {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.body-md {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.body-sm {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.body-xs {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.5;
}

.button-lg {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.button-md {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.button-sm {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.button-xs {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}
